<p>Menu</p>
<a href ='./cart'>cart</a>
<a href ='./about'>about</a>

<form action = './cart' method="POST">
    <label for="burger">burger</label>
    <input type="number" id="burger" name="burger" min="1" max="5">
<br>
    <label for="fries">fries</label>
    <input type="number" id="fries" name="fries" min="1" max="5">
    <br>
    <button>Add to cart</button>
</form>

