// See: https://sass-lang.com/

body {
  // background-color: #EEE;

  span{
    display: inline-block;
    margin-left: 5px;
  }


  header {
    background-image: url(3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 auto;
  }


  h1{
    font-family: "Good Vibes", cursive;
    color: white;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    font-size: 120px;
    margin: 0 auto;
    text-align: center;
  }

  h2{
    text-align: center;
    color:white;
    font-family: "Barlow";
    margin-left: 40px;
  }
}

.page-section {
  padding: 5rem 0;
}

.bg-orange{
  background-color: rgb(201, 92, 41);
}

hr.light {
  border-color: white;
}

hr.divider{
  max-width: 3.25rem;
  border-width: 0.2rem;
}

.btn-xl {
  // padding: 1rem 1rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}
